<?xml version= "1.0" encoding ="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <!-- 解决ResponseBody的中文乱码问题 -->
                    <list>
                        <value>text/html;charset=UTF-8 </value>
                        <value>text/plain;charset=UTF-8 </value>
                        <value>application/json;charset=UTF-8 </value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 配置自定义扫描的包 -->
    <context:component-scan base-package="cn.janine.**.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
    </context:component-scan>

    <mvc:default-servlet-handler />

    <!-- 配置视图解析器：如何把handler方法返回值解析为实际的物理视图，默认order值Integer.MAX_VALUE -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 定义无Controller的path和view的直接映射 
    <mvc:view-controller path="/" view-name="redirect:/login" />-->
    
    <!-- 对静态资源文件的访问 方案一 （二选一） -->
	<!-- <mvc:default-servlet-handler /> -->
	
	<!-- 对静态资源文件的访问 方案二 （二选一） -->
	<mvc:resources mapping="/images/**" location="/images/"
	    cache-period="31556926" />
	<mvc:resources mapping="/js/**" location="/js/"
	    cache-period="31556926" />
	<mvc:resources mapping="/css/**" location="/css/"
	    cache-period="31556926" />	
</beans>